<heat-header></heat-header>
<div class="map">
	<h3 class="text-center head-title">Лучший способ улучшить свой сервис доставки</h3>
	<!-- <p class="text-center link"><a>Learn More</a></p> -->
</div>
<section class="whatis">
	<div class="container">
		<h3>Для кого и чего создана система DeliveryHeatMaps?</h3>
		<p>DeliveryHeatMap - сервис для владельцев ресторанов с доставкой и интернет-магазинов. С помощью DeliveryHeatMap вы можете построить "тепловую карту" своих доставок и подробно изучить ее. Подобный вид представления позволит лучше понять состояние своего бизнеса по зонам доставки, определить наиболее популярные и прибыльные места в городе, построить рейтинг своих курьеров по их среднему времени опоздания, найти способ для улучшения рекламы и лучше понять состояние спроса на определенные товары в разных местах города.</p>
	</div>
</section>
<section class="subwhatis">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>Как использовать</h4>
				<p>Инструкция, как строить тепловые карты и какие показатели анализировать</p>
			</div>
			<div class="col-md-4">
				<h4>Документация API</h4>
				<p>Изучите, как интегрировать свой сайт с системой DeliveryHeatMap</p>
			</div>
			<div class="col-md-4">
				<h4>Регистрация или вход</h4>
				<p>Создайте новый аккаунт или войдите в свою учетную запись</p>
			</div>
		</div>
	</div>
</section>