<heat-header></heat-header>
<div class="map">
	<h3 class="text-center head-title">Easy way to improve your Delivery service</h3>
	<!-- <p class="text-center link"><a>Learn More</a></p> -->
</div>
<section class="whatis">
	<div class="container">
		<h3>What is DeliveryHeatMaps designed for?</h3>
		<p>DeliveryHeatMap is a web service for people who has an internet shop with delivery. With help of DeliveryHeatMap you can build a "heat map" of all your deliveries and explore in on map. This type of representation makes it so easy to analyze your business, see the most popular places in your city, find a way to improve your ads and to understand better the demand situation on the store.</p>
	</div>
</section>
<section class="subwhatis">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>About</h4>
				<p>Build the heat map of your deliveries to count & analyze</p>
			</div>
			<div class="col-md-4">
				<h4>API</h4>
				<p>Integrate your site with DeliveryHeatMap</p>
			</div>
			<div class="col-md-4">
				<h4>Account</h4>
				<p>Make a new account of sign in</p>
			</div>
		</div>
	</div>
</section>